*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    size: 16px;
}

header {
    background-color: black;
    color: white;
    padding-bottom: 4em;
    /* background-image: url('/Users/shaugen93/Desktop/SD_calc./sd/src/assets/sd-logo.png'); */
}

.flat-rate, .self-promo {
    margin: 2em;
}

input {
    display: flex;
}